.about {
  margin-top: 100px;
}

.top-banner {
  width: 100%;
  height: 20vh;
  background-image: url(../home/images/online.jpg);
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
}

.top-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 0 80px;
}

.top-banner h1 {
  background-color: rgb(9, 9, 9);
  padding: 0 10px;
  color: #c46909;
  font-size: 45px;
  line-height: 1.1;
  font-weight: 600;
  text-align: center;
}

.top-banner p {
  background-color: rgb(9, 9, 9);
  color: #c46909;
  padding: 0 10px;
}

.history {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.img {
  text-align: center;
}

.image1 {
  width: 90%;
  object-fit: cover;
  cursor: pointer;
  transition: 0.2s ease;
}

.description h1 {
  font-size: 50px;
  line-height: 1.2em;
  color: #262626;
  font-weight: 400;
  margin-bottom: 50px;
}

.description p {
  font-size: 17px;
  line-height: 28px;
  color: #808080;
  font-weight: 200;
  font-family: "Lato", sans-serif;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  .history {
    grid-template-columns: repeat(1, 1fr);
  }
}
